:root {
    /*
        Credit for the color scheme goes to the Solarized project by Ethan Schoonover:

        https://ethanschoonover.com/solarized/
    */
    --background-color: #002b36;
    --highlight-background-color: #073642;
    --body-text-color: #839496;
    --emphasized-text-color: #93a1a1;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fdf6e3;
        --highlight-background-color: #eee8d5;
        --body-text-color: #586e75;
        --emphasized-text-color: #073642;
    }
}

body {
    margin: 0;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 24px;
    background-color: var(--background-color);
    color: var(--body-text-color);
}

main {
    min-height: 80vh;
    padding-left: 5em;
    padding-right: 5em;
}

nav {
    background: var(--highlight-background-color);
    display: flex;
    flex-direction: row;
    position: relative;
    font-weight: bolder;
}

footer {
    background-color: #222;
    color: #ff2;
}

a:link,
a:visited,
a:hover,
a:active {
    color: var(--emphasized-text-color);
}

nav.fixed {
    position: fixed;
    width: 100%;
}

nav.phantom {
    visibility: hidden;
}

nav > div {
    display: flex;
}

nav a,
nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
    color: var(--emphasized-text-color);
    text-decoration: none;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

nav.submenu {
    position: absolute;
    visibility: hidden;
    top: 100%;
    width: initial;
}

a.expander:hover ~ nav.submenu, 
a.expander:active ~ nav.submenu,
a.expander:focus ~ nav.submenu,
nav.submenu:hover,
nav.submenu:focus,
nav.submenu:active {
    visibility: visible;
    display: flex;
    flex-direction: column;
    opacity: 1;
    animation: fadeFromNone 0.5s ease-in;
}

summary > span {
    color: var(--emphasized-text-color);
    text-transform: uppercase;
    font-style: italic;
    font-size: 0.8em;
}

@keyframes fadeFromNone {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    .01% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}