:root {
  /*
  Credit for the color scheme goes to the Solarized project by Ethan Schoonover:

  https://ethanschoonover.com/solarized/
   */
  --background-color: #002b36;
  --highlight-background-color: #073642;
  --body-text-color: #839496;
  --emphasized-text-color: #93a1a1;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 24px;
  background-color: var(--background-color);
  color: var(--body-text-color);
}

main {
  min-height: 80vh;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 5em;

}

footer {
  background-color: #222;
  color: #ff2;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
  min-height: 1.35em;
}

code {
  color: var(--emphasized-text-color);
  background: var(--highlight-background-color);
  padding-left: 0.15em;
  padding-right: 0.15em;
}

button:hover {
  background-color: white;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--emphasized-text-color);
}

ul.books {
  list-style-type: none;
}

ul.books > li:before {
  content: '📚';
  margin-right: 0.33em;
}

summary > span {
  color: var(--emphasized-text-color);
  text-transform: lowercase;
  font-style: italic;
  font-size: 0.8em;
}

summary > span:before {
  content: "(";
}

summary > span:after {
  content: ")";
}

@keyframes fadeFromNone {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  .01% {
    visibility: visible;
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@media screen and (max-width: 1000px) {
  main {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fdf6e3;
    --highlight-background-color: #eee8d5;
    --body-text-color: #586e75;
    --emphasized-text-color: #073642;
  }
}

