:root {
  /*
  Credit for the color scheme goes to the Solarized project by Ethan Schoonover:

  https://ethanschoonover.com/solarized/
   */
  --background-color: #002b36;
  --highlight-background-color: #073642;
  --body-text-color: #839496;
  --emphasized-text-color: #93a1a1;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 24px;
  background-color: var(--background-color);
  color: var(--body-text-color);
}

main {
  min-height: 80vh;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 5em;

}

nav {
  background: var(--highlight-background-color);
  display: flex;
  flex-direction: row;
  position: relative;
  font-weight: bolder;
}

footer {
  background-color: #222;
  color: #ff2;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
  min-height: 1.35em;
}

button:hover {
  background-color: white;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--emphasized-text-color);
}

ul.books {
  list-style-type: none;
}

ul.books > li:before {
  content: '📚';
  margin-right: 0.33em;
}

nav.detached {
  --navigation-hidden-height: -1.5em;
  position: fixed;
  width: 100%;
}

nav.detached.opening {
  animation: peekaboo 0.5s ease-in-out;
  top: 0;
}

nav.detached.open {
  top: 0;
}

nav.detached.closed {
  top: var(--navigation-hidden-height);
}

nav.detached.closing {
  animation: hideaboo 0.5s ease-in-out;
  top: var(--navigation-hidden-height);
}

nav.phantom {
  visibility: hidden;
}

nav > div {
  display: flex;
}

nav a,
nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
  color: var(--emphasized-text-color);
  text-decoration: none;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

nav.submenu {
  position: absolute;
  visibility: hidden;
  top: 100%;
  width: initial;
}

a.expander:hover ~ nav.submenu, 
a.expander:active ~ nav.submenu,
a.expander:focus ~ nav.submenu,
nav.submenu:hover,
nav.submenu:focus,
nav.submenu:active {
  visibility: visible;
  display: flex;
  flex-direction: column;
  opacity: 1;
  animation: fadeFromNone 0.5s ease-in;
}

summary > span {
  color: var(--emphasized-text-color);
  text-transform: lowercase;
  font-style: italic;
  font-size: 0.8em;
}

summary > span:before {
  content: "(";
}

summary > span:after {
  content: ")";
}

@keyframes fadeFromNone {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  .01% {
    visibility: visible;
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@media screen and (max-width: 1000px) {
  nav {
    flex-direction: column;
    max-height: 1.35em;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  }

  nav.detached.closing {
    animation: none;
    top: initial;
  }

  nav.detached.opening {
    animation: none;
    top: initial;
  }

  nav.detached.closed {
    top: 0;
    max-height: 1.35em;
    transition: max-height 1s ease-in-out;
  }

  nav.detached.open {
    top: 0;
    max-height: 100%;
    transition: max-height 1s ease-in-out;
  }
}

@media screen and (max-width: 1000px) {
  main {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fdf6e3;
    --highlight-background-color: #eee8d5;
    --body-text-color: #586e75;
    --emphasized-text-color: #073642;
  }
}

@keyframes peekaboo {
  0% {
    top: var(--navigation-hidden-height);
  }

  100% {
    top: 0px;
  }
}

@keyframes hideaboo {
  0% {
    top: 0px;
  }

  100% {
    top: var(--navigation-hidden-height);
  }
}
